body {
    background-image: url("background_prompts.jpg");
    background-size: 100%;
    color: white;
}

a:link {
    color: white;
    background-color: blueviolet;
}

a:visited {
    color: royalblue;
}

a:hover {
    color: pink;
}

a:active {
    color: red;
    background-color: darkblue;
}

div {
    color: darkred;
    height: 400px;
    width: 800px;
    background-image: url("background_div_prompts.jpg");
    background-size: 100%;
    padding: 50px;
    margin: 25px 50px 25px 50px;
    border: 3px hotpink dotted;
}
/* border can be solid, dashed, dotted, double, groove* /