body {
    background-image: url("background_prompts.jpg");
    background-size: 100%;
    color: white;
}

a:link {
    color: white;
    background-color: blueviolet;
}

a:visited {
    color: royalblue;
}

a:hover {
    color: pink;
}

a:active {
    color: red;
    background-color: darkblue;
}

div {
    height: 600px;
    width: 800px;
    background-image: url("background_div_prompts.jpg");
    background-size: 100%;
}